body{
    background-image:linear-gradient(90deg, #292929, #0a0a0a);
    color: white;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 2.1119324181626187vh;  
}

@keyframes appear{
0% {
    opacity: 0;
    transform: translateX(-10.559662090813093vh) translateY(-100);
}
100% {
    opacity: 1;
    transform: translateX(-100) translateY(-21.119324181626187vh);
}


}

h1{
    color: white;
    font-size: 5.279831045406547vh;
    margin: 0;
}

h2{
    color: rgb(124, 124, 124);
    margin: 0;
    font-size: 3.167898627243928vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h3{
    color: white;
    margin: 0;
    font-size: 3.167898627243928vh;
    text-align: center;
}

h4{
    color: white;
    margin: 0;
    font-size: 3.167898627243928vh;
    text-align: left;
}

h5{
    color: rgb(124, 124, 124);
    margin: 0;
    font-size: 3.167898627243928vh;
    text-align: left;
}


p{
    color: white;
    margin: 0;
    text-align: left;
}

#gorapanel{
    text-align: right;
    margin-right: 4.223864836325237vh;
}

#gorapanel a{
    color: white;
    font-size: 2.1119324181626187vh;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

#gorapanel a:hover{
    color: #00b894;
}

#srodek{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: appear 3s .5 both;
}

a + a {
    margin-left: .8vh;
}

.pcs1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 93.5vh;
    position: relative;
    animation: appear 3s .5 both;
    display: inline;
    display: flex;
    font-size: 2vh;
}

li{
    text-align: left;
    list-style: none;
    color: white;
}

summary {
    color: white;
    margin: 0;
    font-size: 3.167898627243928vh;
    text-align: left;
    display: block;
    left: 2.1119324181626187vh;
    position: relative;
}

summary:before {
    content: '';
    border: 1.0559662090813093vh solid;
    border-color: transparent transparent transparent white;
    position: absolute;
    left: -2.1119324181626187vh;
    top: 1.2671594508975712vh;
    transition: all .4s;
}


summary:hover {
    cursor: pointer;
}

details summary::-webkit-details-marker {
    display:none;
  }
  details[open] > summary:before {
    transform: rotate(90deg);
  }

@keyframes open {
    0% {opacity: 0; margin-left: -20px}
    100% {opacity: 1; margin-left: 0px}
}
 
details[open] summary ~ * {
    animation: open .5s ease-in-out;
}

#findme{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 93.5vh;
    position: relative;
    animation: appear 3s .5 both;
    display: inline;
    display: flex;
    font-size: 2vh;
}

#findme p {
    color: white;
    font-size: 3.167898627243928vh;
    font-family: 'Roboto', sans-serif;
}

#findme a{
    color: white;
    font-size: 3.167898627243928vh;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

#findme a:hover{
    color: #00b894;
}